#logo{
 display: block;
 width:270px;
 margin-top:-70px;
}
.inline{
 display:inline-block;
 width:unset;
 margin: 0 0.5em 0 0;
 vertical-align: middle;
}

nav {
 display: block;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 
 
}
li {
 padding-left: 2em;
 font-size: 22px;
 display: inline-block;
 list-style: none;
 color: #fff;
 background: none;
 width:140px;
 font-weight: 500;
 vertical-align: middle;
 
 
 
}
#menu{

 vertical-align: top;
 margin-left: 25%;
 width: 55%;
 margin-top: 2%;
 
 
 
 
 
}
a{
 text-decoration: none;
 color:black;
 
 vertical-align: middle;
 
}
li#search{
 width:220px;
 background-color:#A58BDF;
 margin-left:5%; 
 height:50px;
 text-align: center;
 vertical-align: middle;
 border-radius: 15px;
 color:white;
 
 
 
 
}